@import '../variables';

.form_wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.show_form_btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  font-family: $font-secondary;
  color: $color-dark-grey;
  text-align: left;
  padding: 9px 12px 9px 12px;
  cursor: pointer;

  b {
    font-size: 20px;
    font-weight: 500;
  }
}

.add_todo_list_task_form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  background: $color-white;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 18px;
  box-sizing: border-box;

  &__content {
    position: relative;
    width: 100%;

    .content__buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      div,
      button {
        margin-top: 18px !important;
      }

      .button_close {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-family: $font-secondary;
        font-weight: 600;
        font-size: 14px;
        color: $color-dark-grey;
        word-break: break-word;
        border-radius: 4px;
        background: $bg-tasks;
        min-height: 37px;
        letter-spacing: 0.15px;
        max-width: 90px;
        width: 100%;
        transition: 0.2s ease;
        cursor: pointer;
        @media (min-width: 992px) {
          &:hover {
            transform: translateX(10px);
            transition: 0.2s ease;
            opacity: 0.7;
          }
        }
      }
    }
  }

  button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: $font-secondary;
    font-weight: 600;
    font-size: 14px;
    color: $color-white;
    line-height: normal;
    -webkit-appearance: none;
    word-break: break-word;
    text-align: center;
    letter-spacing: 0.15px;
    background: $bg-btn;
    border: none;
    border-radius: 4px;
    width: 100%;
    max-width: 145px;
    min-height: 37px;
    margin: 0 20px 0 0;
    outline: none;
    transform: none;
    opacity: 1;
    transition: 0.2s ease;
    cursor: pointer;
    @media (min-width: 992px) {
      &:hover {
        transform: translateX(10px);
        transition: 0.2s ease;
        opacity: 0.7;
      }
    }
    &:focus {
      outline: none;
    }
  }
}
