@import "../variables";

.formControl {
  font-family: $font-stack;
  width: 100%;
  text-align: left;
  margin: 0 auto 18px auto;
  input {
    cursor: pointer;
    font-family: $font-secondary;
    text-overflow: ellipsis;
    &[type="text"] {
      font-size: 14px;
      font-weight: 600;
      color: $color-black;
      padding: 8px 12px 8px 12px;
      width: 100%;
      border: 1px solid $color-input;
      background: $color-input;
      box-sizing: border-box;
      border-radius: 4px;
      outline: none;
      &:focus {
        &::placeholder {
          opacity: 0;
          transition: 0.2s ease;
        }
      }
      &::placeholder {
        color: $color-placeholder;
        font-size: inherit;
        opacity: 1;
        transition: 0.2s ease;
      }
    }
    &[type="checkbox"] {
      display: none;
    }
    &[type="checkbox"] + label {
      position: relative;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      padding: 0 0 0 33px;
      width: 100%;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: calc(0% - 3px);
        border: 1px solid $color-black;
        width: 23px;
        height: 23px;
      }
    }
    &[type="checkbox"]:checked + label {
      &::before {
        content: "\2713";
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        font-weight: 400;
        color: $color-black;
      }
    }
    &[type="checkbox"] + label + span {
      padding-left: 33px;
    }
  }
}

.formControl.error {
  margin-bottom: 13px;
}

.formControl.error input,
.formControl.error textarea {
  border: 1px $color-wrong solid;
}

.formControl.error span {
  display: inline-block;
  color: $color-wrong;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 500;
}

.formSummaryError {
  border: 1px solid $color-wrong;
  padding: 5px;
  color: $color-wrong;
}
