@import './variables.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: $font-stack;
  height: 100%;
  color: $color-black;
  background: $color-white;

  .container {
    position: relative;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    @include xs-devices {
      max-width: 100%;
    }
    @include sm-devices {
      max-width: 100%;
    }
    @include md-devices {
      max-width: 750px;
    }
    @include lg-devices {
      max-width: 960px;
    }
    @include xl-devices {
      max-width: 1140px;
    }
  }
  #root {
    height: 100%;
    width: 100%;
  }

  .thumb_vertical {
    background: $bg-btn;
    border-radius: 2em;
    animation: thumbColorToggle 5s ease-in-out infinite both;
    box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
    top: 0;
    right: 0px;
  }

  .thumb_horizontal {
    background: $bg-btn;
    border-radius: 2em;
    animation: thumbColorToggle 5s ease-in-out infinite both;
    box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
    bottom: 0px;
    left: 0;
  }

  @keyframes thumbColorToggle {
    0% {
      background: $bg-btn;
    }
    50% {
      background: $color-black;
    }
    75% {
      background: $color-active;
    }
    100% {
      background: $bg-btn;
    }
  }
}
